@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #00f0ff;
  --secondary: #bd00ff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@utility bg-grid-pattern {
  background-image: linear-gradient(to right, #1f2937 1px, transparent 1px),
    linear-gradient(to bottom, #1f2937 1px, transparent 1px);
  background-size: 4rem 4rem;
  mask-image: radial-gradient(ellipse at center, black, transparent 80%);
}
