@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #00f0ff;
  --secondary: #bd00ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(to right, #1f2937 1px, transparent 1px),
      linear-gradient(to bottom, #1f2937 1px, transparent 1px);
    background-size: 4rem 4rem;
    mask-image: radial-gradient(ellipse at center, black, transparent 80%);
  }
}
